<nav class="navbar navbar-dark bg-dark">
  <h1 class="navbar-brand">Users</h1>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <%= link_to 'Home', users_path, class:"nav-link active" %>
    </li>
    <li class="nav-item">
      <%= link_to 'New User', new_user_path, class:"nav-link active" %>
    </li>
  </ul>
</nav>
