{{define "container"}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            {{ template "sidebar" . }}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          {{if .ErrorMessage}}
          <div class="alert alert-danger">
            {{ .ErrorMessage }}
          </div>
          {{end}}

          {{ template "content" . }}
          
        </div>
      </div>
    </div>
{{end}}
