{{ define "view" }}
<!DOCTYPE html>
<html lang=en>
  <head>
  {{ template "header" . }}
  </head>
  <body>
  {{ template "nav" . }}
  {{ template "container" . }}
  {{ template "footer" . }}
  </body>
</html>
{{ end }}