<div class="row">
  <div class="col">
    <%= link_to "#{result} <#{result.email}>", user_path(result) %><br />
    <strong><%= result.company %></strong><br />
    <em><%= result.company_description %></em><br />
    <br />
  </div>
</div>
